$mainBg:rgba(29, 33, 35, 1);
$primaryTextColor: rgba(255, 255, 255, 1);
$hero-image-bg:rgba(96, 158, 175, 1);
$secondaryTextColor:rgba(255, 255, 255, 0.5);
$like-icon-border-radius:rgba(255, 255, 255, 0.11);
$auxillaryTextColor:rgba(255, 255, 255, 0.5);
$sidePadding: 1300px;
$hero-section: 1080px;
$hero-section__mobile: 540px;
$mobile: 478px;
$tablet: 768px;
$album-hero: 690px;
$collection-cards: 472px;
$sidebarBg:rgba(26, 30, 31, 1);
$top-chartsBg: rgba(26, 30, 31, 1);
$collection-hover: 951px;